body {
    background-color: yellowgreen;
    display: flex;
    flex: auto;
    flex-direction: column;
    height: auto;
}

.h1 {
    color: darkred;
    text-decoration: underline darkred;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    margin: 15px;
}

.body {
    display: flex;
    flex-direction: column;
    border: solid 2px;
    border-color: darkred;
    padding: 20px;
}

.card {
    border: 1px solid yellowgreen;
    box-shadow: 2px 4px 12px darkred;
    border-radius: 4px;
    padding: 15px 60px 15px 60px;
    margin: 40px;
    height: fit-content;
}

.h3 {
    text-align: center;
    font-size: 35px;
    color: darkred;
}

ul {
    list-style: none;
}

li {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li::before {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: darkred; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: flex;
    flex-shrink: inherit;
    justify-content: space-around;
    height: 300px;
}

.top-left {
    display: flex;
    flex-direction: column;
}

.top-mid-left, .top-mid-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.top-right {
    display: flex;
    flex-direction: column;
}

.container2 {
    display: flex;
    flex-shrink: inherit;
    justify-content: space-around;
    height: 300px;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottom-mid-left, .bottom-mid-right {
    display: flex;
    flex-direction: column;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container3 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: darkred;
    padding: 10px;
    
}

.other-text {
    margin-top: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 105px;
}